@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
}

.about {
    margin-top: 6rem;
    margin-bottom: 0rem;

    p, li {
        font-size: 1.4rem;
    }

    h1 {
        margin-bottom: .5rem;
        text-align: center;
        font-size: 1.5rem;
    }

    &__intro {
        width: 100%;
        height: 100%;
        padding: 4rem;
        margin-bottom: 2rem;
        @include grid;

        h1 {
            text-align: left;
        }

        p {
            font-size: 1.3rem;
        }

        p:not(:last-child) {
            margin-bottom: 5rem;
        }

        .about__intro-image {
            width: 80%;
            justify-self: center;
            animation: slide-down .5s ease-in;

            img {
                width: 100%;
            }
        }
    }

    &__philosophy {
        width: 100%;
        height: 100%;
        background: #2F2F2F;
        padding: 4rem;
        color: #fff;
        text-align: center;

        p {
            margin-bottom: 1rem;
        }

        .about__philosophy-body {
            width: 55%;
            margin: 0 auto;
        }
    }

    &__background {
        position: relative;
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 4rem;
        color: #000;

        h1 {
            text-align: left;
        }

        .get-started {
            width: 55%;
            margin: 0 auto;
        }

        .about__background-body {
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-gap: 3rem;
            grid-row-gap: 5rem;

            .image-two {
                margin-left: 3rem;
            }

            .about__background-image {
                width: 100%;
                align-self: start;

                img {
                    width: 100%;
                }
            }

            .about__background-blurb {
                align-self: start;

                ul {
                    margin-bottom: 3rem;

                    li {
                        list-style-type: disc;
                        margin-bottom: .5rem;
                    }
                }
            }

        }
    }

    &__certifications {
        width: 100%;
        height: 100%;
        background:  #2F2F2F;
        padding: 4rem;
        color: #fff;
        z-index: 1000;

        ul {
            margin: 0 auto;

            li {
                margin-bottom: .5rem;
                list-style-type: disc;
            }
        }

        .about__certifications__body {
            width: 85%;
            margin: 0 auto;
            @include grid;
        }
    }
}

@media (max-width: 800px) {
    @mixin grid-mobile {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 20px;
    }
    
    .about {
        margin-top: 6.5rem;
    
        &__intro {
            @include grid-mobile;
            padding: 1rem;
            padding-top: 0;

            .about__intro-image {
                order: 1;
                width: 100%;
            }

            .about__intro-text {
                order: 2;

                p {
                    font-size: 1.3rem;
                }
            }
        }
    
        &__philosophy {
            position: relative;
            padding: 3rem 1.5rem;
            top: 0;

            .about__philosophy-body {
                width: 100%;
                @include grid-mobile;
            }
        }
    
        &__background {
            padding: 2rem 1rem;

            .about__background-body {
                width: 100%;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
                margin-top: 0;

                .about__background-image {
                    width: 100%;
                    justify-self: center;
                }
    
                .image-two {
                    margin-left: 0;
                }

                .about__background-blurb {
                    justify-self: center;
                    padding: 1rem;
                }
            }
        }
    
        &__certifications {
            padding: 2rem 1rem;
            margin: 0;

            .about__certifications__body {
                @include grid-mobile;
            }
        }
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}