.about {
    margin-top: 9rem;
    margin-bottom: 0rem;

    p, li {
        font-size: 1.4rem;
        line-height: 1.8;
        text-align: right;
    }

    h1 {
        margin-bottom: .5rem;
        text-align: center;
        font-size: 1.4rem;
    }

    &__intro {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 4rem;
        padding-right: 8rem;
        padding-left: 8rem;
        margin: 0 auto;

        
        .about__intro-text {
            width: 100%;
            padding-right: 2rem;

            h1 {
                text-transform: uppercase;
                margin-bottom: .5rem;
                letter-spacing: 7px;
                text-align: right;
                color: #153F6D;
            }

            p {
                margin-bottom: 2rem;
            }
    
            p, li {
                font-size: 1.3rem;
                color: #153F6D;
            }
    
            p:not(:last-child) {
                margin-bottom: 5rem;
            }

        }

        .about__intro-image {
            width: 100%;
            justify-self: center;
            animation: slide-down .5s ease-in;

            img {
                width: 100%;
            }
        }
    }

    .about-client-stories {
        width: calc(100%  - 6rem);
        margin: 0 auto;
        background: #153F6D;
        transition: width 300ms ease-in-out;

        h1 {
            color: #fff;
            font-size: 1.4rem;
            letter-spacing: 7px;

            a:link, a:visited {
                color: #fff;
                padding: 2rem;
                display: block;
                width: 100%;
            }
        }

        &:hover {
            width: 100%;
        }
    }

    &__background {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 4rem;
        padding-right: 8rem;
        padding-left: 8rem;
        margin: 0 auto;

        .about__background-body {
            display: flex;
            width: 100%;

            .about__background-image {
                width: 40%;

                img {
                    width: 100%;
                }
            }

            .about__background-blurb {
                width: 60%;
                padding-left: 3rem;

                h1 {
                    text-align: left;
                    color: #153F6D;
                    letter-spacing: 7px;
                }

                ul {
                    margin-bottom: 3rem;
                    color: #153F6D;
                    padding-left: 1.5rem;

                    li {
                        list-style-type: disc;
                        margin-bottom: .5rem;
                        text-align: left;
                    }
                }
            }

        }
    }
}

@media (max-width: 1500px) {
    .about {
        margin-top: 7rem;
    
        p, li {
            font-size: 1.1rem;
            line-height: 1.7;
        }
    
        h1 {
            font-size: 1.2rem;
        }
    
        &__intro {
            
            .about__intro-text {
    
                h1 {
                    text-transform: uppercase;
                    margin-bottom: .5rem;
                    letter-spacing: 7px;
                    text-align: right;
                    color: #153F6D;
                }
    
                p, li {
                    font-size: 1.1rem;
                }
            }
        }
    
        .about-client-stories {
    
            h1 {
                font-size: 1.1rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .about {
    
        &__intro {
            padding-right: 2rem;
            padding-left: 2rem;
        }

        &__background {
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }
} 

@media (max-width: 800px) {
    
    .about {
        margin-top: 9.5rem;
    
        &__intro {
            flex-direction: column;
            padding: 1rem;
            padding-top: 0;

            .about__intro-image {
                order: 1;
                width: 100%;
                margin-bottom: 1rem;
            }

            .about__intro-text {
                order: 2;

                h1, ul li {
                    text-align: left;
                }

                p {
                    font-size: 1.3rem;
                    text-align: left;
                }
            }
        }
    
        &__background {
            padding: 2rem 1rem;

            .about__background-body {
                flex-direction: column;
                width: 100%;
                margin-top: 0;

                .about__background-image {
                    width: 100%;
                    justify-self: center;
                }

                .about__background-blurb {
                    width: 100%;
                    padding: 1rem;
                }
            }
        }
    
        &__certifications {
            padding: 2rem 1rem;
            margin: 0;

            .about__certifications__body {
            }
        }
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}