html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#footer {
    margin-top: auto;
}

li {
    list-style: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, h5, h6, button, a {
    text-transform: uppercase;
    font-family: gotham-medium;
}

li, p, label, input, textarea {
    font-family: gotham-light;
    font-weight: 700;
}