.contact-form {
   width: 60%;
   max-width: 800px;
   height: 100%;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   margin-top: 2rem;

   p {
       margin-bottom: 2rem;
       font-size: 1.3rem;
   }

   input, label, textarea, select {
       margin-bottom: 1rem;
   }

   input, textarea, select {
        border: 2px solid #153F6D;
   }
   
   label {
       text-transform: uppercase;
       font-size: 1.6rem;
       color: #153F6D;
   }

   select, option {
       width: 300px;
       color: #153F6D;
   }

   input, textarea, select {
       padding: .5rem;
       font-size: 1.2rem;
   }

   form {
       width: 100%;
   }

   .btn {
       background: #153F6D;
       color: #fff;
       text-transform: uppercase;
       border: 2px solid #153F6D;
       cursor: pointer;
       font-size: 1.6rem;
       -webkit-appearance: none;
   }
}

@media (max-width: 1400px) {
    .contact-form {
     
        p {
            font-size: 1.1rem;
        }
        
        label {
            font-size: 1.1rem;
        }

        input, textarea, select {
            font-size: 1.1rem;
        }
     
        .btn {
            font-size: 1.1rem;
        }
     }
}

@media (max-width: 800px) {
    .contact-form {
        width: calc(100% - 2rem);
    }
}