.footer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-bottom: 4rem;
    background: #F9F9F9;

    &__inner {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        align-items: center;

        .footer-left {

            .footer__logo {
                width: 13rem;
                margin: 0 1rem;
                margin-bottom: 2rem;
        
                img {
                    width: 100%;
                }
            }
    
            h1 {
                color: #0E538F;
                text-transform: uppercase;
                margin-left: 1rem;
                letter-spacing: 6px;
                font-size: 1.3rem;
            }
        }

        .footer__social {
            margin-top: 1rem;
    
            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                letter-spacing: 7px;
                font-size: 1.3rem;
                font-weight: 700;

                li {
                    margin-bottom: 2rem;
                }
                
                a:link, a:visited {
                    color: #0E538F;
                    font-size: 1.3rem;
                }
            }
        }

        .media-box {
            display: flex;
            flex-direction: column;
            .icons {
                display: flex;
                justify-content: space-between;
                width: 10rem;
        
                &__image {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background: #0E538F;
                    padding: .8rem;
        
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 860px) {
    .footer {
        padding-bottom: 10rem;
    
        &__inner {
            flex-direction: column;
            width: 100%;
    
            .footer-left {
    
                .footer__logo {
                    margin: 0 auto;
                    margin-bottom: 1rem;
                }
        
                h1 {
                    margin-bottom: 1rem;
                }
            }
    
            .footer__social {
        
                ul {
                    justify-content: center;
                    align-items: center;
                }
            }
    
            .media-box {
                .icons {
                    width: 10rem;
                }
            }
        }
    }
}