.home {
    margin-top: 5rem;

    .home__card {
        position: relative;
        padding: 2rem;
        background: #0E538F;
        box-shadow: 0 1rem 2.5rem rgba(0,0,0,0.2);
        height: 100%;

        .home__card-message-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .home__card-left {
                width: 50%;

                .home__card-image {
                    width: 100%;
                    margin-top: 1rem;
    
                    img {
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }
            
            .home__card-right {
                position: relative;
                width: 50%;
                margin-top: 2rem;
                display: flex;
                flex-direction: column;

                h1 {
                    text-align: center;
                    font-size: 2.1rem;
                    color: #fff;
                    margin-bottom: 2rem;
                    text-transform: uppercase;
                }

                ul {
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 70%;

                    li {
                        font-size: 2.3rem;
                        color: #fff;
                        margin-bottom: 2rem;
                        list-style-type: disc;
                    }
                }

                button {
                    width: 60%;
                    margin: 1rem auto;
                    background: transparent;
                    color: #fff;
                    padding: .5rem;
                    font-size: 1.7rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    border: 3px solid #fff;
                    border-radius: 5px;
                }
            }
        }
    }

    &__programs {
        width: 90%;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 3rem;
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);

        h1 {
            text-transform: uppercase;
            margin-bottom: .5rem;
        }

        .home__programs-image {
            width: 100%;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }

        .home__programs-content {
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            p {
                width: 50%
            }

            button {
                font-size: 1.1rem;
                width: 15rem;
                text-transform: uppercase;
                font-weight: 700;
                border: 3px solid #000;
                border-radius: 5px;
                background: transparent;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1170px) {
    .home {

        .home__card {  

            .home__card-message-inner {
                
                .home__card-right {
                    width: 45%;

                    h1 {
                        font-size: 2rem;
                    }
    
                    ul {
                        width: 100%;
                        margin: 0 auto;
    
                        li {
                            font-size: 1.8rem;
                        }
                    }

                    button {
                        font-size: 1.1rem;
                        width: 70%;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .home {
        margin-top: 5rem;

        .home__card {
            height: 100%;
    
            .home__card-message-inner {
                display: flex;
                flex-direction: column;
    
                .home__card-left {
                    width: 100%;
                }
                
                .home__card-right {
                    width: 100%;
                    flex-direction: column;
    
                    h1 {
                        font-size: 2rem;
                    }
    
                    ul {
                        width: 90%;
                        margin: 0 auto;
    
                        li {
                            font-size: 1.8rem;
                        }
                    }

                    button {
                        font-size: 1.1rem;
                        width: 70%;
                    }
                }
            }
        }

        &__programs {
    
            .home__programs-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                p {
                    width: 100%;
                    margin-bottom: 1rem;
                }
    
                button {
                    width: 100%;
                    padding: .5rem;
                }
            }
        }
    }
}
