.home {
    margin-top: 5rem;
    margin-bottom: 8rem;

    .home__card {
        padding: 2rem;
        background-image: url(../assets/images/main-banner-min.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 1rem 2.5rem rgba(0,0,0,0.2);
        height: 100vh;

        p {
            text-align: center;
        }

        .home__card-cta {
            background: rgba(255,255,255,0.7);
            width: 30rem;
            height: 13rem;
            border-radius: 5px;
            padding: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                margin-bottom: .5rem;
            }

            button {
                margin-top: 1rem;
                padding: .5rem;
                font-size: 1.1rem;
                width: 20rem;
                text-transform: uppercase;
                font-weight: 700;
                border: 2px solid #000;
                border-radius: 5px;
                background: transparent;
                cursor: pointer;
            }
        }
    }

    &__programs {
        display: flex;
        margin: 4rem 2rem;
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
        // width: 90%;
        // padding: 2rem;
        // margin: 0 auto;
        // margin-top: 3rem;
        // box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);

        &:hover {
            box-shadow: .5rem 2rem 2rem rgba(0,0,0,0.3);
            transform: translateY(-2px);
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: .5rem;
        }

        .home__programs-image {
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
                min-width: 600px;
                object-fit: cover;
                height: 100%;
            }
        }

        .home__programs-content {
            width: 85%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            background: #0E538F;

            ul {
                margin-left: 1rem;
                li {
                    list-style-type: disc;
                }
            }

            h4 {
                margin-top: 1rem;
                font-size: 1.3rem;
            }

            h1, p {
                color: #fff;
            }

            p {
                font-size: 1.6rem;
                margin-bottom: 1.5rem;
            }

            button {
                font-size: 1.1rem;
                width: 15rem;
                text-transform: uppercase;
                font-weight: 700;
                border: 1.8px solid #fff;
                color: #fff;
                border-radius: 5px;
                background: transparent;
                padding: 1rem;
                cursor: pointer;

                &:hover {
                    background: #fff;
                    color: #0E538F;
                }
            }
        }
    }

    .home-test {
        display: flex;
        margin: 4rem;
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);

        .home-test-image {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .home-test-content {
            width: 85%;
            padding: 1.5rem;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            background: #0E538F;

            h1 {
                margin-top: .5rem;
            }

            h1, p {
                color: #fff;
            }

            p {
                font-size: 1.6rem;
                margin-bottom: 1.5rem;
            }
        }

        button {
            font-size: 1.1rem;
            width: 15rem;
            text-transform: uppercase;
            font-weight: 700;
            border: 1.8px solid #fff;
            color: #fff;
            border-radius: 5px;
            background: transparent;
            cursor: pointer;
            padding: 1rem;
        }
    }
}

@media (max-width: 1100px) {
    .home {
        &__programs {
            flex-direction: column;
            margin: 4rem 1rem;

            .home__programs-image {
    
                img {
                    width: 100%;
                    min-width: 100%;
                    height: 100%;
                }
            }

            .home__programs-content {
                width: 100%;

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .home {
        &__programs {
    
            .home__programs-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                p {
                    width: 100%;
                    margin-bottom: 1rem;
                }
    
                button {
                    width: 100%;
                    padding: .5rem;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .home {
    
        .home__card {
    
            .home__card-cta {
                background: rgba(255,255,255,0.7);
                width: 90%;
            }
        }
    }    
}
