.program-calculator {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 3rem;

    h1, h3, p {
        margin-bottom: .5rem;
        text-align: left;
    }

    &__btns {
        display: flex;
        flex-direction: column;
        width: 20rem;

        button {
            position: relative;
            margin-bottom: .3rem;
            padding: .5rem;
            font-size: 1.2rem;
            background: transparent;
            cursor: pointer;

            &::after {
                content: '+';
                position: absolute;
                right: .6rem;
            }

            &.active::after {
                content: '-';
                position: absolute;
                right: .6rem;
            }
        }
    }
}