.program {
    margin-top: 9rem;
    padding: 2rem;
    height: 100%;
    width: 100%;
    display: flex;

    .program-calculator {
        color: #153F6D;
    }

    &__gallery {
        display: grid;
        grid-template-areas: 'top top top top';
        grid-gap: 10px;
        margin-right: 2rem;
        width: 60%;

        .program__gallery-image {
            width: 100%;
            img {
                width: 100%;
            }
        }

        .one {
            grid-area: top;
            animation: slide-down .5s ease-in;
        }
    }

    &__info {
        .tier-titles {
            cursor: pointer;
            margin-bottom: .8rem;
            color: #153F6D;
            border: 1px solid #153F6D;
            width: 25rem;
            padding: .5rem;
            text-align: center;
        }

        .payment-popup {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0,0,0,0.4);
            z-index: 999;
            
            &__inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 50%;
                background: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    color: #153F6D;
                    margin-bottom: 1rem;
                    text-align: center;
                }

                .tier-cta {
                    width: 90%;
                }

                .close-paypal-modal {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;

                    &__bar {
                        position: absolute;
                        width: 35px;
                        height: 3px;
                        background: #153F6D;
                        top: 16px;
                        left: 0;

                        &:nth-child(1) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        h1, li, p, h2 {
            margin-bottom: 1rem;
            color: #153F6D;
        }

        ul {
            margin-left: 2rem;
            color: #153F6D;

            li {
                list-style-type: disc;
                font-size: 1.6rem;
            }
        }

        button {
            margin-top: 1rem;          
            font-size: 1.3rem;
            width: 18rem;
            height: 4rem;
            text-transform: uppercase;
            border: 2.5px solid #153F6D;
            background: transparent;
            cursor: pointer;

            a {
                display: block;
                width: 100%;
                padding: .5rem;
                color: #153F6D;
                letter-spacing: 7px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .program {
    
        &__info {

            h1, h2 {
                font-size: 1.2rem;
            }
    
            ul {
    
                li {
                    font-size: 1.1rem;
                }
            }
    
            button {
                font-size: 1.1rem;
            }
        }
    }
}

@media (max-width: 900px) {
    .program {
        flex-direction: column;
        padding-top: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;

        &__gallery {
            margin-bottom: 1rem;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 700px) {
    .program {
        &__info {
            .tier-titles {
                width: 95%;
            }
    
            .payment-popup {
                
                &__inner {
                    width: 95%;
                    min-height: 300px;
                }
            }
        }
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}