.program {
    margin-top: 6rem;
    padding: 2rem;
    height: 100%;
    width: 100%;
    display: flex;

    &__gallery {
        display: grid;
        grid-template-areas: 'top top top top'
                             'mid mid mid2 mid2';
        grid-gap: 10px;
        margin-right: 2rem;
        width: 80%;

        .program__gallery-image {
            width: 100%;
            img {
                width: 100%;
            }
        }

        .one {
            grid-area: top;
        }

        .two {
            grid-area: mid;
        }

        .three {
            grid-area: mid2;
        }
    }

    &__info {
        h1, h3, li, p {
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.3rem;
        }

        ul {
            margin-left: 2rem;

            li {
                list-style-type: disc;
                font-size: 1.3rem;
            }
        }

        button {
            margin-top: 1rem;
            padding: .5rem;
            font-size: 1.1rem;
            width: 15rem;
            text-transform: uppercase;
            font-weight: 700;
            border: 2px solid #000;
            border-radius: 5px;
            background: transparent;
            cursor: pointer;
        }
    }
}

@media (max-width: 900px) {
    .program {
        flex-direction: column;

        &__gallery {
            margin-bottom: 1rem;
            width: 100%;
        }
    }
}