.testimonials {
    width: 50%;
    margin: 6.5rem auto;
    margin-bottom: 4.5;
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;

    &__scroll {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        p {
            margin-bottom: 1rem;
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 700px) {
    .testimonials {
        width: 80%;
    
            p {
                font-size: 1.2rem;
            }
    }
}