.testimonials-page {
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 100%;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        color: #153F6D;
        letter-spacing: 7px;
    }

    .page {
        width: 50%;
        margin: 0 auto;

        .read-more-button {
            cursor: pointer;
            text-decoration: underline;
        }

        p, h3 {
            font-size: 1.3rem;
            color: #153F6D;
            line-height: 1.6;
        }

        h3 {
            margin-top: 1rem;
        }
    }

    hr {
        margin: 1rem auto;
    }
}

@media (max-width: 1500px) {
    .testimonials-page {
    
        h1 {
            font-size: 20px;
        }
    
        .page {
    
            p, h3 {
                font-size: 1.1rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .testimonials-page {
        padding: 1.5rem;
        .page {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}