.testimonials {
    text-align: center;

    h1 {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 1.8px solid #fff;
        color: #fff;
        background: transparent;
        cursor: pointer;
        margin: 0;

        a:link, a:visited {
            color: #fff;
        }
    }

}